<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 导入 jquery包  -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!--引入easyui的样式 -->
    <!--引入easyui的样式 -->
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css" type="text/css"></link>
    <script type="text/javascript" src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" th:inline="none">
    $(function(){
        getMinGanCi();
        $('#dialog').dialog('close');
    })
    //-----------------------------------------查询
    function getMinGanCi() {
        $('#dg').datagrid({
            url:'/getMinGanCi',
            pagination:true, //开启分页工具栏
            striped: true, //斑马线效果
            toolbar: '#tb',
            checkOnSelect: false, //false，当用户仅在点击该复选框的时候才会呗选中或取消
            pageList:[4,10,20,30,40],//下拉框条数
            pageSize: 20, //默认显示多少条 这个值一定在pagelist中存在
            columns: [[
                {field: 'id', title: '编号', width:'30%', align: 'center'},
                {field: 'text', title: '栏目', width: '30%', align: 'center'},
                {field: 'sds', title: '操作', width: '40%', align: 'center',
                    formatter: function (value, row) {
                    var temp = "<a href='javascript:void(0)' onclick='updateMinGanCi(" + row.id + ")' >修改</a>";
                    temp += "|<a href='javascript:void(0)' onclick='del(" + row.id + ")' >删除</a>";
                    return temp;
                }
                }
            ]]
        });
    }
    function xinzeng(){//打开新增弹框
        $('#dialog').dialog('open');
        clearFormData();
    }

    function clearFormData(){
        $("#form-id").form('clear'); //清空form组件内容
    }
    /*新增*/
    //2 新增方法
    function addMinGanCi(){
        $('#form').form({
            url:"/addMinGanCi",
            success:function(data){
                if (data==1){
                    $("#dialog").dialog('close');
                    //重新加载数据
                    $("#dg").datagrid('reload');
                }
            }
        });
        $("#form").form('submit')
    }
   /*删除*/
    function del(id){
        $.ajax({
            url:"/delMinGanCi",
            type:"POST",
            data:{id:id},
            success:function(result){
                $("#dg").datagrid('reload');//reload 会重新请求数据 但会停留在当前页
                $.messager.show({
                    title: '消息',
                    msg: '删除成功!!',
                    timeout: 1000,//提示框出来的时间
                    showType: 'slide'
                });
            },
            error:function(){
                alert("失败了");
            }
        });
    }
    /*修改*/
    function updateMinGanCi(id){
        $.ajax({
            url:"/updateMinGanCi",
            type:"POST",
            data:{id:id},
            success:function(data){
                $("#dialog").dialog('open');
                $("#form").form("load",data);
            },
            error:function(){
                alert("ajax访问失败了,查看控制台");
            }
        });
    }
    //条查
    function queryMinGAnCi(){
        $("#form2").form('submit');
        $('#dg').datagrid('load',serializeFrom2Obj($("#form2")));
    }
    function serializeFrom2Obj (obj) {
        var o = {};
        var a = obj.serializeArray();//[{name:'price',value='12'},{},{}]
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</head>
<body>
<div id="tb">
    <form id="form2">
        <input  name="text" class="easyui-textbox">
    </form>
    <a  onclick="queryMinGAnCi()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
   <a id="btn" onclick="xinzeng()" class="easyui-linkbutton" data-options="iconCls:'icon-add'" target="_blank">新增</a>
</div>
<table id="dg" fit=true></table>
<div id="dialog"  class="easyui-dialog" title="My Dialog" style="width:800px;height:300px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,
			buttons:[{
				text:'保存',
				iconCls:'icon-ok',
				handler:function(){
				addMinGanCi();
				}
			},{
				text:'取消',
				iconCls:'icon-clear',
				handler:function(){
					clearFormData();//新增之后 清除表单数据
					$('#dialog').dialog('close'); //关闭对话框
				}
			}]">

    <!-- 表单数据 -->
    <form id="form">
        <input  name="id"  type="hidden">
        敏感词:<input  name="text" class="easyui-textbox">
    </form>
</div>
</body>
</html>