<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册页面</title>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="/css/sign.css">
    <!-- layer -->
    <script src="/js/layer/layer.js"></script>


    <script type="text/javascript">
        function tijiao(){
            $.ajax({
                url:"/phone/addstaff",
                type:"POST",
                data:$("#form").serialize(),
                success:function(result){
                    if(result ==2){
                        layer.alert("<font color='red'>账号已存在</font>", {icon: 2});
                    }
                    if(result==0){
                        layer.alert("<font color='red'>请输入账号密码</font>", {icon: 2});
                    }
                    if(result==1){
                        layer.alert("<font color='red'>注册成功</font>", {icon: 1});
                        location.href="/phone";
                    }
                    if(result ==3){
                        layer.alert("<font color='red'>请输入邮箱</font>", {icon: 2});
                    }
                    if(result ==4){
                        layer.alert("<font color='red'>请输入验证码</font>", {icon: 2});
                    }
                    if(result ==5){
                        layer.alert("<font color='red'>验证码不正确,请重新发送</font>", {icon: 2});
                    }
                },
                error:function(){
                    alert("失败了");
                }
            });
        }
        var temp = null;//为了其他方法能改变temp的值
        function yzm() {
            //alert(111);
            $.ajax({
                url: "/phone/sendCode",
                type: "POST",
                data: $("#form").serialize(),
                success: function (result) {
                    var data=result.code;
                    if (data == 1) {
                        layer.alert("<font color='red'>发送成功,注意查看手机</font>", {icon: 1});
                        $("#sendCode").prop("disabled", true);//true禁用
                        temp = setInterval("changeBtnText()", 1000);//setInterval可以设置每隔多少毫米调取一个方法
                    }
                    if (data == 2) {
                        layer.alert("<font color='red'>验证码已发送,请查看手机</font>", {icon: 3});
                        $("#sendCode").prop("disabled", true);//true禁用
                        temp = setInterval("changeBtnText()", 1000);//setInterval可以设置每隔多少毫米调取一个方法
                    }
                    if (data == 3) {
                        layer.alert("<font color='red'>用户名不正确</font>", {icon: 5});
                    }
                    if (data == 4) {
                        layer.alert("<font color='red'>一天的登录次数超过三次,明天再登</font>", {icon: 5});
                    }
                    if (data == 5) {
                        layer.alert("<font color='red'>黑名单用户,拒绝登录</font>", {icon: 5});
                    }
                },
                error: function () {
                    alert("失败了");
                }
            });
        }
    </script>


</head>
<body>
<!--头部-->
<div class="header">
    <div class="desc">欢迎注册</div>
</div>
<div class="container">
    <!--京东注册模块-->
    <div class="register">
        <!--用户名-->
        <form id="form">
            <div class="register-box">
                <!--表单项-->
                <div class="box default">
                    <label> 昵&nbsp;称</label>
                    <input type="text" name="username" placeholder="您的账户名和登录名" />
                    <i></i>
                </div>
                <!--提示信息-->
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>
            <div class="register-box">
                <!--表单项-->
                <div class="box default">
                    <label>用&nbsp;户&nbsp;名</label>
                    <input type="text" name="account" placeholder="您的账户名和登录名" />
                    <i></i>
                </div>
                <!--提示信息-->
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>
            <!--设置密码-->
            <div class="register-box">
                <!--表单项-->
                <div class="box default">
                    <label >设 置 密 码</label>
                    <input type="password" name="password" placeholder="建议至少两种字符组合" />
                    <i></i>
                </div>
                <!--提示信息-->
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>

            <div class="register-box">
                <!--表单项-->
                <div class="box default" >
                    <label >手机号</label>
                    <input id="code1" type="text" name="phone" placeholder="请输入手机号" />

                    <i></i>
                    <!--提示信息-->
                    <div class="tip">
                        <i></i>
                        <span></span>
                    </div>
                </div>
                <!--提示信息-->
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>

            <div class="register-box">
                <div class="box default" >
                    <label >验证码：</label>
                    <input id="code" name="verify_code" type="text" size="10" style="width: 170px;height: 35px" placeholder="  请输入验证码"/>
                </div>

                <div style="float: left;margin-left: 5px">
                    <button type="button" id="sendCode" onclick="yzm()" style="width: 100px" class="btn btn-primary">发送验证码</button>
                </div>

            </div>
            <!--注册-->
        </form>
        <button id="btn" onclick="tijiao()">注册</button>
    </div>

</div>
</body>
</html>